html {
    box-sizing: border-box;
    font-family: $font;
    letter-spacing: 1.5px;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    font-family: $font;
    background-color: white;
    padding: 0;
    margin: 0;
}
section h2, 
section h1 {
    margin: 0;
    letter-spacing: 0.2rem;
    color: $color2;
}
section .title {
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color: $color5;
    height: 80px;
    width: 100%;
}
section .content {
    padding: 3rem 0;
}