html {
    box-sizing: border-box;
    font-family: $font;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: $font;
    background-color: $color2;
    padding: 0;
    margin: 0;
}