<section id="banner">
  <div class="css-slides">
    <div class="banner auto-slide1 fade"></div>
    <div class="banner auto-slide2 fade"></div>
    <div class="banner auto-slide3 fade"></div>
    <div class="banner auto-slide4 fade"></div>
  </div>
</section> 