<section id="buchen">
  <div class="title">
    <h2>Buchungen</h2>
  </div>
  <div class="content">
    <p class="info-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem similique commodi, assumenda beatae perspiciatis ducimus 
        laboriosam facere, veritatis nulla quae mollitia eius ad soluta quos et labore, repudiandae veniam aliquam?
        Ab perferendis ipsa eum maiores odio debitis earum itaque quos numquam nobis voluptatem fugiat vel, id doloremque 
        officiis tempora inventore tenetur quam modi, cum sapiente unde deserunt blanditiis. Possimus, esse.
    </p>
    <%= link_to "Buchungsanfrage",  "https://www.hiddenseezimmer.de/Buchungsanfrage/Haus-Ruby", class: "booking",  target: "_blank" %>
  </div>
</section>