<section id="buchen">
  <div class="title">
    <h2>Buchungen und Preise</h2>
  </div>
  <div class="content main-container">
    <p class="info-text">
        Betreut und verwaltet wird Haus Ruby von <%= link_to  "Hiddensezimmer", "https://www.hiddenseezimmer.de", class: "link-style", target: "_blank" %>. 
        Die freundlichen Damen und Herren von Hiddenseezimmer arbeiten seit vielen Jahren in der Objektbetreung und Zimmervermittlung vor Ort auf Hiddensee und sind 
        Ihr zuverlässiger Ansprechpartner rund um Ihren Urlaub im Haus Ruby. Haben Sie noch Fragen zu Haus Ruby oder möchten Sie direkt eine Buchungsanfrage 
        stellen? Über den unten aufegführten Link, können Sie sich direkt an Hiddenseezimmer wenden. Hier erfahren Sie alles über 
        <%= link_to "Peise und Saisonzeiten", "https://www.hiddenseezimmer.de/Saisonzeiten", class: "link-style", target: "_blank"  %>.
    </p>
    <%= link_to "Buchungsanfrage",  "https://www.hiddenseezimmer.de/Buchungsanfrage/Haus-Ruby", class: "booking",  target: "_blank" %>
  </div>
</section>