<section id="info">
    <div class="title">
        <h2>Haus Ruby</h2>
    </div>
    <div class="content">
      <p class="info-text">Haus Ruby liegt in einer kleinen Ferienhausanlage im Süden Vittes. Auf dem Gelände befinden sich drei Gebäude mit jeweils vier
          Reihenhäusern. Haus Ruby ist ein Richtung Südwesten ausgerichtetes Reihenendhaus, das von der Strasse etwas zurückversetzt liegt. Zusätzlich gewährt eine Hecke grössenteils Sichtschutz. Für alle Häuser gibt es eine große gemeinschaftliche Wiese zum Spielen und ein Häuschen mit Waschmaschine und Trockner (gegen Gebühr).
      </p>
      <div class="house">
        <button data-id="1" class="house-btn active" onClick="switchText(1)">Terrassen</button>
        <button data-id="2" class="house-btn" onClick="switchText(2)">Erdgeschoss</button>
        <button data-id="3" class="house-btn" onClick="switchText(3)">Obergeshoss</button>
        <button data-id="4" class="house-btn" onClick="switchText(4)">Galerie</button>
      </div>
      <div class="info-details">
        <div data-id="1" class="info-card show">
          <%= image_tag 'Aussen1.jpg' , class: 'image-floated'%>
          <p class="info-text">
          Auf den zwei Terrassen, ausgerichtet nach Süden und Westen, lässt sich den ganzen Tag die Sonne geniessen. Beginnen Sie Ihren Tag mit einem Früstück in der Sonne auf der einen, relaxen sie Nachmittags in der Sonne auf der anderen. Ein Esstisch mit Platz für bis 6 Personen, Sonnenliegen und -stühle stehen zur Verfügung. Eine Hecke umschliesst 
          den Grossteil der Terrassen und bietet angenehme Privatssphäre. Sollte es Ihnen in der Sonne doch zu heiss werden, bieten zwei grosse Sonnenschirme Schatten. Lassen Sie den Abend am Grill mit Drinks zum Sonnenuntergang ausklingen.
          </p>
        </div>
        <div data-id="2" class="info-card">
          <%= image_tag 'Wohnzimmer2.jpg' , class: 'image-floated'%>
          <p class="info-text">
          Im Erdgeschoss ist das Wohnzimmer mit einem Esstisch für sechs Personen, einem grossen Eck-Sofa, Smart-TV, einer kleinen Bluetooth-Musikanlage und einigen Büchern und Spielen.
          Die seperate Küche ist ausgestattet mit Induktionsherd, Kühlschrank inkl. kleinem Gefrierfach, Geschirrspüler, Backofen-Mikrowellen-Kombination, Toaster, Kaffemaschine und Wasserkocher sowie ausreichend Geschirr. <br>
          Zusätzlich befindet sich im Erdgeschoss eins der zwei Bäder - ein Tageslicht-Bad mit Waschbecken, WC und Dusche.
          </p>
        </div>
        <div data-id="3" class="info-card">
          <%= image_tag 'Schlafzimmer1.jpg' , class: 'image-floated'%>
          <p class="info-text">
          Im Obergeschoss befinden sich die beiden Schlafzimmer und ein weiteres Bad.
          Das grössere Schlafzimmer ist Richtung Westen ausgerichtet mit Blick Richtung Ostsee. Es hat ein grosses Doppelbett (1,80m x 2,00m), eine geräumige Kommode 
          und einen Kleiderschrank. Alle Schlafzimmer haben Fliegengitter. Ein Kinderreisebett steht ebenfalls zur Verfügung. 
          Das zweite Schlafzimmer, ausgerichtet nach Norden, hat zwei Einzelbetten (jeweils (0,90m x 1,90m)) als Kojen unter der Dachschräge, die sich besonders für Kinder eignen. <br>
          Das zweite Tageslicht-Bad hat Badewanne, Waschbecken und WC und einen Fön.
          </p>
        </div>
        <div data-id="4" class="info-card">
          <%= image_tag 'Gallerie1.jpg' , class: 'image-floated'%>
          <p class="info-text">
          Von der offenen Galerie unter dem Dach von Haus Ruby haben Sie einen wunderbaren Blick 
          auf die Ostsee. Das schräge Dachfenster hat ebenfalls ein Fliegengitter. <br>
           Je nach Bedarf kann die Galerie als zusätzlicher Schlafplatz (1,40m x 2,00m unter der Dachschräge) und/oder als Rückzugsort zum Lesen und Entspannen genutzt werden. 
          </p>
        </div>        
      </div>
  </div>
</section>

<script>
  function switchText(n) {
    var buttons = document.getElementsByClassName("house-btn")
    var texts = document.getElementsByClassName("info-card")

    Array.from(buttons).map(button => 
        button.dataset.id === `${n}` ? button.classList.add("active") : button.classList.remove("active"))

    Array.from(texts).map(text => 
        text.dataset.id === `${n}` ? text.classList.add("show") : text.classList.remove("show"))
  };
</script>
