<section id="introduction">
  <div class="title">
    <h1>Haus Ruby Hiddensee</h1>
  </div>
  <div class="content">
    <div class="introduction">
      <p>
          Haus Ruby liegt im Herzen von Vitte auf der wunderbaren Ostseeinsel Hiddensee. Im letzen Jahr grössenteils renoviert, 
          bietet Haus Ruby den perfekten Ort für einen längeren Urlaub oder einen kurzen Wochenendtrip, um dem Alltag zu entfliehen. 
          Nur wenige Gehminuten vom Strand, vielen Einkaufsmöglichkeiten und Restaurants entfernt.
      </p>
    </div>
    <div class="boxes">
      <div class="card">
          <p>3</p>
          <p>Etagen</p>
      </div>
      <div class="card">
          <p>2,5</p>
          <p>Schlafzimmer</p>
      </div>
      <div class="card">
          <p>5</p>
          <p>Betten</p>
      </div>
      <div class="card">
          <p>2</p>
          <p>Bäder</p>  
      </div>
      <div class="card">
          <p>2</p>
          <p>Terrassen</p>
      </div>
    </div>
  </div>
</section>