<section id="photos">
  <div class="title">
      <h2>Fotos & Lage</h2>
  </div>
  <div class="content photo-section">
    <div class="gallery">
      <%= render 'gallery' %>
    </div>
    <div class="slideshow">
      <%= render 'slideshow' %>
    </div>
  </div> 
  <div class="content address">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d594.1564822819332!2d13.102807429255781!3d54.56223527636284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47aca726f94dd62b%3A0xe9b0d2beebb20076!2sHaus%20Ruby!5e1!3m2!1sde!2sde!4v1637782316948!5m2!1sde!2sde" width="1000" height="225" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>          
</section>
