<%= render 'banner1' %>

<%= render 'introduction' %>

<section id="banner">
  <div class="banner banner2"></div>
</section>

<%= render 'info' %>

<section id="banner">
  <div class="banner banner3"></div>
</section>

<%= render 'photos' %>

<section id="banner">
  <div class="banner banner4"></div>
</section>