#banner {
    padding: 0;
    margin: 0;
}
.banner {
    max-width: 100%;
    min-height: 75vh;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
}