.boxes {
    display: block;
    justify-content: center;
    align-items: center;
}
@media (min-width: 576px) {
    .boxes {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 2%;
    }

    .boxes-booking {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5%;
    }
    #card-hidden {
        display: none;
    }

    .card-booking {
        grid-column: span 2;
        margin-bottom: 2rem;
    }
}

@media (min-width: 992px) {
    #card-hidden {
        display: block;
    }
    .card-booking {
        grid-column: span 1;
    }
}