.card {
    width: 100%;
    border-top: solid 1px $color5;
    color: $color5;
    font-size: 2rem;
    text-align: center;
    font-weight: 800;

    &:last-child {
        border-bottom: solid 1px $color5;
    }
}
@media (min-width: 550px) {
    .card {
        flex-basis: 15%;
        border-bottom: solid 1px $color5;
    }
}