.introduction p {
    padding: 2%;
    margin: 0;
    text-align: center;
    color: $color5;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    
}
@media (min-width: 576px) {
    #introduction h3 {
        line-height: 3rem;
        font-size: 2rem;
    }
}

