.slideshow {
    position: relative;
}
.slides {
    display: none;
}
.slides img {
        width: 100%;
    }
.cursor {
    cursor: pointer;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.active {
    opacity: 1;
}
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    position: absolute;
    bottom: -6px;
    width: 100%;
}
@media (min-width: 576px) {
    .slideshow {
       display: none;
    }
}
@media (min-width: 768px) {
    .slideshow {
        display: block;
        flex-basis: 47%;
    }
}